header {
  background-image: url('../assets/images/15780734_10154014027806196_6293599165744642866_n.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-group-h1 h1{
  font-size: 3vw;
  text-align: center;
  color: white;
}

.mainflex h1{
  font-size: 3vw;
  text-align: center;
  color: white;
}

h2{
  font-size: 2vw;
  color: white;
}

.wrapper{
  background-color: black;
}

a{
  text-decoration: none;
  color: white;
  font-size: 3vw;
}

a:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

img{
  max-width: 20%;
}

p{
  color: white;
  font-size: 2vw;
  display: inline-block;
}

.icon-menu{
  color: white;
  text-align: center;
  font-size: 10px;
}
