

header {
  background-image: url('../assets/images/15780734_10154014027806196_6293599165744642866_n.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-group-h1 h1{
  font-size: 3vw;
  text-align: center;
  color: white;
}

.mainflex h1{
  font-size: 3vw;
  text-align: center;
  color: white;
}

h2{
  font-size: 1.5vw;
  color: white;
  font-weight: bolder;
  font-family: 'Press Start 2P', cursive;
}

.wrapper{
  background-color: grey;
}
ul{
  background-color: rgba(0, 0, 0, 0.5);

}

.icon-menu{
  color: white;
  text-align: center;
  font-size: 10vw;
}

.icons{
  color: white;
  text-align: center;
  margin-right: 10px;
  font-size: 6vw;
}
a{
  text-decoration: none;
  color: white;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
}

.navtext{
  font-size: 5vw;
}

img{
  max-width: 20%;

}

p{
  color: white;
  font-size: 2vw;
}



time {
  color: white;
}
.about{
  background-image: url('../assets/images/tilablewood.jpg');
  border-top: ridge 10px grey;
  border-bottom: ridge 10px grey;
  height: 100%;
  min-height: 400px;
}

.projects{
  background-image: url('../assets/images/mable black.jpg');
  border-top: ridge 10px grey;
  border-bottom: ridge 10px grey;
  height: 100%;
  min-height: 400px;
}

.music{
  background-image: url('../assets/images/30852582-Skull-and-Flowers-Monochrome-Seamless-Background-Stock-Photo.jpg');
  border-top: ridge 10px grey;
  border-bottom: ridge 10px grey;
  height: 100%;
  min-height: 400px;
}

footer{
  background-image: url('../assets/images/Rock-Wall-Beautiful-Wallpapers.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
}

.footul{
  color: white;
  font-size: 2vw;
  font-family: PT serif,
}
ul{
  width: 100%;
  align-content: center;
}

@media all and (min-width: 431px) {
  a{
    font-size: 1vw;
  }

  .navlink:hover{
    background-color: red;
    border-radius: 5px
  }
  .footul a:hover{
    background-color: red;
    padding: 0em;
    border-radius:0px
  }

  .icon-menu{
    color: white;
    text-align: center;
    font-size: 10vw;
  }

  .icons{
    color: white;
    text-align: center;
    margin-right: 10px;
    font-size: 1.5vw;
  }

  .navtext{
    font-size: 1vw;
  }
}
