.wrapper{
  width: 100%;
}

.header{
  width: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
  max-width: 80%;
  padding: 12%;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 3px black;
  border-radius: 5px;
  margin-top: 3%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav {
  padding: 0.1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px #ccc;
}

.sectionmain{
  width: 77%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 22%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.icon-menu{
  text-align: right;
}

a{
  padding: 10%;
  text-align: center;
}

.footer{
  width: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

p{
  margin-left: 3%;
  width: 95%;
}
.description{
  margin-top: 3%;
  width: 95%;
  text-align: left;
}

.main-nav:hover ul {
  display: block;
}

@media all and (min-width: 800px) {
  .icon-menu{
    display: none;
  }

  .main-nav{
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px;
    width: 80%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;

  }

  .main-nav ul {
    display: list-item;
    clear: both;
  }

  .main-nav li {
    display: inline-block;
  }

}
