Body{
  width:100%;
  min-width: 320px;
}
.wrapper{
  width: 100%;
  height: 100%;

}

.header{
  width: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
  max-width: 80.5%;
  padding: 9%;
  padding-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;
  border: solid 3px black;
  text-align: center;

}

#titleimg{
  max-width: 100%;
}

#subtitle{
  margin-top: 1em;
  font-size: 2vw;
  font-family: 'Press Start 2P', cursive;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-nav {
  width: 90%;
  padding: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid black 3px;
  border-top-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.main-nav ul {

  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1em;
  padding: .5em .2em;
  border-bottom: 1px #ccc;
}

.sectionmain{
  width: 77%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-left: 22%;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.mypic{
  margin-left: 40%;
}

.icon-menu{
  text-align: right;
}

a{
  text-align: center;
}

.footer{
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

.footul{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}

p{
  width: auto;
  margin-bottom: 3%;
}
.description{
  width: 95%;
  text-align: left;
}

.main-nav:hover ul {
  display: block;
}


.projectstodom{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.pbox{
  flex-grow: 1;
  flex-basis: 0;
  margin: 1.5%;
  max-width: 313px;
}


.proheader{
  width: 45%;
  display: inline-flex;
}

.description{
  width: 100%;
  text-align: left;
}

.wrap {
  width: 19em;
  height: 192px;
  padding: 0;
  overflow: hidden;
}
.frame {
  width: 76em;
  height: 786px;
  border: 0;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}



@media all and (min-width: 669px) {
  .icon-menu{
    display: none;
  }

  .heading-group-h1 {
    float: left;
    padding: 0 0 .2em 1em;
    max-width: 90%;
    padding: 3%;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px black;
    border-radius: 5px;
    margin-top: 3%;
  }

  #subtitle{
    margin-top: 1em;
    font-size: 2vw;
    font-family: 'Press Start 2P', cursive;
  }

  .main-nav{
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px;
    width: 96%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;

  }


  .main-nav ul {
    display: list-item;
    clear: both;
    background-color: rgba(0, 0, 0, 0);
  }

  .main-nav li {
    display: inline-block;
    width: 15%;
  }

  .projectstodom{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }


  .pbox{
    flex-grow: 1;
    flex-basis: 0;
    margin: 1.5%;
    max-width: 313px;

  }


  .proheader{
    width: 45%;
    display: inline-flex;
  }

  .description{
    width: 100%;
    text-align: left;
  }

}
